.main{

   display: flex;
   gap: 4rem;
   align-items: center;
   flex-direction: column;
}
.container{
    margin-top: 2rem;
    position: relative;
    justify-content: space-between;
    gap:2.4rem;
    display: flex;  
    
}
/* "primary-500": "#877EFF",
"primary-600": "#5D5FEF",
"secondary-500": "#FFB620",
"off-white": "#D0DFFF",
red: "#FF5A5A",
"dark-1": "#14131a",
"dark-2": "#09090A",
"dark-3": "#101012",
"dark-4": "#1F1F22",
"light-1": "#FFFFFF",
"light-2": "#EFEFEF",
"light-3": "#7878A3",
"light-4": "#5C5C7B",
"btn-highlight": "#2bd576",
"showcase-color":"",
"text-info": "#1c1b23",
"text-primary": "#8b8a91",
"text-sexy": "#4f4f52", */
.window{
    border-radius: 1rem;
    border: 1px solid var(--color-dark--2);
    width: 80vw;
    height: 75vh;
    display: flex;
    background-color: var(--color-dark--2);
}
.navli{
    border-radius: 1rem;
    background-color:var(--color-dark--2);
    display: flex;
    flex-direction: column;
    gap: 0rem;
    border-right: 1px solid #343a40;
    padding: 0rem 0rem;
    /* border-radius: 1rem; */
  
    transition: 0.2s ease;
    height: full;
    width: 31rem;
    align-items: center;
    
}
.navli ul{
   
    display: flex;
    flex-direction: column;
    gap: 0rem;
    align-items: center;
    /* justify-content: space-between; */
    width: 100%;
    height: 100%;
}
.orders{
    padding: 1rem;
    flex-direction: column;
    display: flex;
    gap: 2rem;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}
.orders li{
    border-radius: 1rem;
    background-color: var(--color-dark--2);
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
    padding: 4rem 4rem;
    border-bottom: 1px solid #343a40;
    cursor: pointer;
    transition: 0.2s ease;
}
.orderWindow{
    /* background-color: var(--color-dark--1); */
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.heading{
    display: flex;
    gap: 5rem;
    justify-content: space-around;
}
.heading :first-child{

    color: var(--color-brand--2);
    font-family: inherit;
}

.heading h1{
    /* :"#ffb545"; */
    display: inherit;
    gap: 0.5rem;
    align-items: center;
}
.box{
    background-color: var(--color-dark--2);
    width: 42rem;
    color: var(--color-light--1);
    border-radius: 1rem;
    /* min-height: calc(20vh - 2rem); */
    min-width: 36rem;
    height: 60rem;;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    /* border: 0.1px solid var(--color-brand--2); */
}
.btn_div button{
    font-family: inherit;
    font-weight: 600;
    display: flex;
    align-items:center;
    gap: 0.7rem;
    margin-top: 0rem;
    margin-bottom: 2rem;
    padding:1rem 2rem;
    color: var(--color-brand--2);
    background-color: var(--color-dark--2);
    text-align: center;
    border:1px solid var(--color-brand--2);
    border-radius: 2rem;
    transition: 0.32s ease;
}
.btn_div button:hover{
    transition: 0.32s ease;
    background-color: var(--color-brand--2);
    color: black;
}

.list div, .list p {
    align-items: center;
    display: flex;
}
li{ 
    color: var(--color-light--1);
    font-family: inherit;
    font-weight: 400;
    text-align: center;
    width: 100%;
    display: flex;
    /* flex-direction: column; */
     border-bottom: 1px solid #343a40;
    font-size: 17px;
    gap: 2rem;
    padding: 2.5rem 3.8rem;
    position: relative;
    cursor: pointer;
    transition: 0.2s ease;
}
li:hover{
    transition: 0.2s ease;
    background-color: #343a40;
}

.list img {
   
}
img{
    overflow-clip-margin: content-box;
    overflow: clip;
}
.list h3{
    font-size: 1.8rem;
    font-size: 1.8rem;
}
.logout button{
    font-family: inherit;
    font-weight: 600;
    display: flex;
    align-items:center;
    gap: 0.7rem;
    margin-top: 0rem;
    margin-bottom: 2rem;
    padding:0.9rem 8rem;
    color: var(--color-brand--2);
    background-color: var(--color-dark--2);
    text-align: center;
    border:1px solid var(--color-dark--2);
    border-radius: 2rem;
    transition: 0.32s ease;
    cursor: pointer;
}

/* Styling the scrollbar track (the area behind the thumb) */
::-webkit-scrollbar {
    width: 10px; /* Set the width of the scrollbar */
   
  }
  
  /* Styling the scrollbar thumb (the draggable part) */
  ::-webkit-scrollbar-thumb {
    border-radius: 0rem 2rem 2rem 0rem;
    background: var(--color-brand--2) /* Set the color of the scrollbar thumb */
  }
  
  /* Styling the scrollbar track when the mouse hovers over it */
  ::-webkit-scrollbar-track {
    border-radius: 0rem 2rem 2rem 0rem;
    border :1px solid #1F1F22;
    background: #1F1F22;
  }

  @media screen and (max-width:500px){

    .container{

        flex-direction: column;
    }
    .box{
        width: 30rem;
    }
    .heading :nth-child(2){
        display: none;
        color: var(--color-brand--1);
        font-family: inherit;
    }

  }