.main{

   display: flex;
   gap: 4rem;
   align-items: center;
   flex-direction: column;
}
.container{
    margin-top: 2rem;
    position: relative;
    justify-content: space-between;
    gap:2.4rem;
    display: flex;
    
   
    
    
    
}
.heading{
    display: flex;
    gap: 5rem;
    justify-content: space-around;
}
.heading :first-child{

    color: var(--color-brand--2);
    font-family: inherit;
}
.heading :nth-child(2){

    color: var(--color-brand--1);
    font-family: inherit;
}
.heading h1{
    display: inherit;
    gap: 0.5rem;
    align-items: center;
}
.box{
    background-color: var(--color-dark--2);
    width: 42rem;
    color: var(--color-light--1);
    border-radius: 1rem;
    /* min-height: calc(20vh - 2rem); */
    min-width: 36rem;
    height: 60rem;;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    /* border: 0.1px solid var(--color-brand--2); */
}
.btn_div button{
    font-family: inherit;
    font-weight: 600;
    display: flex;
    align-items:center;
    gap: 0.7rem;
    margin-top: 0rem;
    margin-bottom: 2rem;
    padding:1rem 2rem;
    color: var(--color-brand--2);
    background-color: var(--color-dark--2);
    text-align: center;
    border:1px solid var(--color-brand--2);
    border-radius: 2rem;
    transition: 0.32s ease;
}
.btn_div button:hover{
    transition: 0.32s ease;
    background-color: var(--color-brand--2);
    color: black;
}
ul{
    list-style: none;
    /* overflow: scroll; */
    padding: 0.8rem 0;
}
.list div, .list p {
    align-items: center;
    display: flex;
}
li{
    grid-column-gap: 2.4rem; 
    align-items: center;
     border-bottom: 1px solid #343a40;
    border-bottom: 1px solid var(--color-background-100);
    -webkit-column-gap: 2.4rem;
    column-gap: 2.4rem;
    display: grid;
    font-size: 1.6rem;
    /* grid-template-columns: 4rem 1fr; */
    grid-template-rows: auto auto;
    padding: 1.6rem 3.2rem;
    position: relative;
}
.list img {
    grid-row: 1/-1;
    width: 100%;
    height: 50px;
}
img{
    overflow-clip-margin: content-box;
    overflow: clip;
}
.list h3{
    font-size: 1.8rem;
    font-size: 1.8rem;
}
/* Styling the scrollbar track (the area behind the thumb) */
::-webkit-scrollbar {
    width: 10px; /* Set the width of the scrollbar */
   
  }
  
  /* Styling the scrollbar thumb (the draggable part) */
  ::-webkit-scrollbar-thumb {
    border-radius: 0rem 2rem 2rem 0rem;
    background: #7777 /* Set the color of the scrollbar thumb */
  }
  
  /* Styling the scrollbar track when the mouse hovers over it */
  ::-webkit-scrollbar-track {
    border-radius: 0rem 2rem 2rem 0rem;
    border :1px solid rgb(61, 59, 59);
    background: rgb(61, 60, 60);
  }